USE [master]
GO
/****** Object:  Database [GIBDDDatabase]    Script Date: 13.12.2023 21:12:21 ******/
CREATE DATABASE [GIBDDDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GIBDDDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GIBDDDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GIBDDDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GIBDDDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GIBDDDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GIBDDDatabase]
GO
/****** Object:  Table [dbo].[Автомобили]    Script Date: 13.12.2023 21:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Автомобили](
	[НомерАвто] [nvarchar](10) NOT NULL,
	[Марка] [nvarchar](50) NULL,
	[Модель] [nvarchar](50) NULL,
	[Цвет] [nvarchar](20) NULL,
	[ГодВыпуска] [int] NULL,
	[ДатаРегистрации] [date] NULL,
	[Владелец] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[НомерАвто] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Взыскания]    Script Date: 13.12.2023 21:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Взыскания](
	[КодНарушения] [int] NOT NULL,
	[ДатаВремяНарушения] [datetime] NULL,
	[НомерВУ] [nvarchar](20) NOT NULL,
	[РайонНарушения] [nvarchar](50) NULL,
	[РазмерШтрафа] [nvarchar](50) NULL,
	[ОплаченШтраф] [bit] NULL,
	[СрокЛишенияПрав] [int] NULL,
	[БазоваяВеличина] [int] NULL,
	[ЛичныйНомерИнспектора] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[КодНарушения] ASC,
	[НомерВУ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Водители]    Script Date: 13.12.2023 21:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Водители](
	[НомерВУ] [nvarchar](20) NOT NULL,
	[ФИО] [nvarchar](100) NULL,
	[Адрес] [nvarchar](100) NULL,
	[Телефон] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[НомерВУ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Инспектора]    Script Date: 13.12.2023 21:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Инспектора](
	[ЛичныйНомерИнспектора] [int] NOT NULL,
	[ФИОИнспектора] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ЛичныйНомерИнспектора] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[НарушенияВодителей]    Script Date: 13.12.2023 21:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[НарушенияВодителей](
	[КодНарушения] [int] NOT NULL,
	[НомерВУ] [nvarchar](20) NOT NULL,
	[ДатаВремяНарушения] [datetime] NULL,
	[РайонНарушения] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[КодНарушения] ASC,
	[НомерВУ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[НарушенияПДД]    Script Date: 13.12.2023 21:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[НарушенияПДД](
	[КодНарушения] [int] NOT NULL,
	[ВидНарушения] [nvarchar](100) NULL,
	[ШтрафДиапазон] [nvarchar](50) NULL,
	[Предупреждение] [bit] NULL,
	[СрокЛишенияПрав] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[КодНарушения] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Автомобили]  WITH CHECK ADD FOREIGN KEY([Владелец])
REFERENCES [dbo].[Водители] ([НомерВУ])
GO
ALTER TABLE [dbo].[Взыскания]  WITH CHECK ADD FOREIGN KEY([КодНарушения])
REFERENCES [dbo].[НарушенияПДД] ([КодНарушения])
GO
ALTER TABLE [dbo].[Взыскания]  WITH CHECK ADD FOREIGN KEY([ЛичныйНомерИнспектора])
REFERENCES [dbo].[Инспектора] ([ЛичныйНомерИнспектора])
GO
ALTER TABLE [dbo].[Взыскания]  WITH CHECK ADD FOREIGN KEY([НомерВУ])
REFERENCES [dbo].[Водители] ([НомерВУ])
GO
ALTER TABLE [dbo].[НарушенияВодителей]  WITH CHECK ADD FOREIGN KEY([КодНарушения])
REFERENCES [dbo].[НарушенияПДД] ([КодНарушения])
GO
ALTER TABLE [dbo].[НарушенияВодителей]  WITH CHECK ADD FOREIGN KEY([НомерВУ])
REFERENCES [dbo].[Водители] ([НомерВУ])
GO
USE [master]
GO
